// lightColors

$white: #FFFFFF;
$darkPurple: #6069a9;
$purple: #7d88d5;
$black: #434343;
$darkBlack: #232323;
$gray: #d3d3d3;
$lightGray: #f3f3f3;
$blue: #18495f;
$green: #2be3a6;
$darkGreen: #22bf8a;



// Palette colors

$dColor: var(--dColor);

$color1: var(--color1);
$color1: var(--color2);
$color1: var(--color3);
$color1: var(--color4);
$color1: var(--color5);
$color1: var(--color6);
$color1: var(--color7);
$color1: var(--color8);
$color1: var(--color9);
$color1: var(--color10);


// Variations palette colors

$ptone: var(--ptone);
$tone1: var(--tone1);
$tone2: var(--tone2);
$tone3: var(--tone3);
$tone4: var(--tone4);
$tone5: var(--tone5);



// Fonts

$title: 'Lobster', cursive;
$primaryFont: 'Sarabun', sans-serif;

// Media queries

$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXl: 1600px;






